*{
    box-sizing: border-box;
}

body{
    background: rgb(254, 234, 195);
}

.contact .container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contact h2{
    padding: 42px;
}

.contact .wrapper{
    text-align: center;
    margin-bottom: 24px;
}

.contact .wrapper div{
    margin-bottom: 24px;
}

.contact .wrapper input{
    border-radius: 8px;
    border: solid blue 1px;
}

.btn_send{
    font-size: 12px;
    font-weight: bold;
    background: blue;
    color: white;
    padding: 12px 18px;
    margin-top: 48px;
    border-radius: 12px;
}

.thankyou{
    text-align: center;
    min-height: 472px;
}

.thankyou .container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.thankyou .wrapper h1{
    margin: 48px;
}